// 底部样式
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    strong {
      font-weight: 700;
    }
    .footer-nav {
      padding: 40px 0 20px 0;
      dt {
        margin-bottom: 30px;
      }
      dd {
        margin: 5px 0;
        color: #676a6c;
        a {
          text-decoration: none;
          color: #676a6c;
          &:hover {
            color: #ccc;
          }
        }
      }
    }
    .copyright {
      padding: 3px 0;
      line-height: 40px;
      border-top: 1px solid #e7eaec;
      .copyright-left {
        display: inline-block;
      }
    }
}

// 自适应
@media (max-width: 768px) {
    .footer, .content-wrapper:after {
        height: 60px;
    }

    .footer-nav {
        display: none;
    }

    .content-wrapper {
         padding-bottom:228px;
    }

    .domain {
        display: none;
    }
}
@media (min-width: 768px) {
    .footer, .content-wrapper:after {
        height: 310px;
    }

    .domain {
        float: right;
    }
}